.agreement {
  padding: 180px 0 100px;

  transition: all 0.4s ease;
  &__title {
    margin-bottom: 38px;

    text-align: center;
  }
  &__text {
    font-family: $mainHeadingFont;
    line-height: 1.4;
    p {
      font-size: 14px;
      margin-bottom: 20px;
      transition: all 0.4s ease-in-out;
    }
  }
  &__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .agreement {
    padding: 130px 0 50px;
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
      li {
        font-size: 16px;
      }
    }
  }
}
