.agreement {
  padding: 180px 0 100px;

  transition: all 0.4s ease;
  &__title {
    margin-bottom: 38px;

    text-align: center;
  }
  &__text {
    font-family: $mainHeadingFont;
    line-height: 1.4;
    p {
      margin-bottom: 20px;
      opacity: 0;
      visibility: hidden;
      font-size: 0;

      transform: translateX(-10px);

      transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
      &._animated {
        opacity: 1;
        visibility: visible;
        font-size: 14px;
        transform: translateX(0);
      }
    }
  }
  &__subtitle {
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    font-size: 0;

    transform: translateX(-10px);

    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    &._animated {
      font-size: 20px;
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}
@media (max-width: 440px) {
  .agreement {
    padding: 130px 0 50px;
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
      li {
        font-size: 16px;
      }
    }
  }
}
