.cabinet {
  margin-top: 139px;

  transition: all 0.4s ease;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__aside {
    width: 33%;
    position: relative;
    z-index: 5;
  }
  &__orders {
    max-height: 860px;
    background: #fff;
    overflow-x: auto;
  }
  &__main {
    width: 64%;
    margin-bottom: 77px;
    .cabinet__main {
      margin-bottom: 73px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__card {
    .card__img {
      overflow: hidden;
      position: relative;
      picture {
        img {
          width: auto;
          height: auto;
        }
        &:nth-child(2) {
          img {
            position: absolute;
            left: 50%;
            top: 0;
            visibility: hidden;
            opacity: 0;

            transform: translateX(-50%);
          }
        }
      }
      &--toggle {
        &:hover {
          & > img {
            opacity: 0;
            &:nth-child(2) {
              opacity: 1;
              pointer-events: none;
              visibility: visible;
            }
          }
          picture {
            &:nth-child(1) {
              img {
                opacity: 0;
              }
            }
            &:nth-child(2) {
              img {
                pointer-events: none;
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
    .card__like {
      left: 0;
      top: 0;
    }
  }
  &__main.cabinet__main--fullsize {
    width: 100%;
    .cabinet__cards {
      align-items: flex-end;
      &::-webkit-scrollbar {
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background: darken($mainWhtColor, 10%);
      }
      &::-webkit-scrollbar-thumb {
        background-color: $mainCompColor;
      }
      .cabinet__card {
        width: 90%;
        min-width: 340px;
        margin-right: 15px;
      }
    }
  }
  &__progress {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 45px;
  }
  &__title {
    padding-right: 30px;
    font-size: 28px;
    margin-bottom: 42px;

    text-align: left;
    position: relative;
  }
  &__logout {
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 20px;

    transform: translateY(-50%);
    svg {
      width: 20px;
    }
  }
  &__desc {
    margin-bottom: 33px;
    font-weight: 500;
    font-size: 18px;
    font-family: $mainHeadingFont;
    strong {
      margin-left: 45px;
      color: $mainCompColor;
      font-size: 20px;
    }
  }
  &__notice {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    font-family: $mainHeadingFont;
    a {
      color: inherit;
      text-decoration: underline;

      transition: all 0.4s ease;
      &:hover {
        text-decoration: none;
        color: darken(#8c8c8c, 15%);
      }
    }
  }
  &__txt {
    margin-left: 24px;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__segment {
    width: 28%;
    margin-left: -2.8%;
    path {
      &:first-child {
        fill: #e1e1e1;
      }
      &:last-child {
        fill: #868686;
      }
    }
    &._active {
      path {
        &:first-child {
          fill: #88c74a;
        }
        &:last-child {
          fill: #fff;
        }
      }
    }
    &:first-child {
      margin-left: 0;
    }
    svg {
      max-width: 100%;
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--inner {
      display: flex;
      align-items: center;
    }
    .title {
      margin-bottom: 0;
      font-size: 24px;
      margin-right: 30px;
    }
  }
  &__sum {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $mainHeadingFont;
    color: #9d9d9d;
    font-weight: 500;
    font-size: 18px;
    span {
      font-size: 20px;
    }
  }
  &__order.order {
    margin-bottom: 10px;
    padding: 20px 55px 18px 17px;

    border: 1px solid #ebebeb;

    font-size: 16px;
    font-family: $mainFont;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__ordering {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  &__date {
    font-weight: 500;
    font-size: 20px;
  }
  &__nums {
    display: flex;
    justify-content: space-between;

    font-weight: 500;
    font-size: 18px;
  }
  &__more {
    position: relative;

    cursor: pointer;

    font-family: $mainHeadingFont;
    font-weight: 400;
    font-size: 16px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 7px;
      right: -30px;
      width: 12px;
      height: 2px;

      background: $mainCompColor;

      transition: all 0.2s ease;
      transform: rotate(-45deg);
    }
    &::before {
      right: -22px;
      transform: rotate(45deg);
    }
    &._active {
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
  &__hidden {
    max-height: 0;
    overflow: hidden;

    transition: all 0.2s ease;
    &._opened {
      padding-top: 43px;
      max-height: none;
      overflow: visible;
    }
    .cabinet__img {
      img {
        height: auto;
        width: 100%;
        max-width: 95px;
      }
    }
  }
  &__subtitle {
    margin-bottom: 21px;

    font-family: $mainHeadingFont;
    font-size: 18px;
    font-weight: 500;
  }
  &__product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  &__repeat {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    right: -30px;
    margin-top: 36px;
    width: auto;

    font-size: 15px;
    font-weight: 500;
    font-family: $mainHeadingFont;

    background: transparent;
    &::before {
      content: '';
      width: 152%;
      height: 1px;
      position: absolute;
      top: -18px;
      left: 44%;

      background: #ebebeb;

      transform: translate(-50%);
    }
    &._spinning {
      img {
        animation: spin 1s ease-in-out;
      }
    }
    img {
      margin-right: 20px;
    }
  }
  &__price {
    font-size: 18px;
  }
  &__amount {
    font-size: 18px;
    font-weight: 500;
  }
  .card {
    max-width: none;
  }
  &__slider,
  .cabinet__cards {
    position: relative;
    z-index: 3;
    display: flex;
    overflow: hidden;
  }
  &__cards {
    align-items: flex-end;
  }
  .swiper-wrapper {
    margin-bottom: 0;
    align-items: flex-end;
  }
  &__slide {
    .cabinet__card {
      width: 100%;
    }
    .cabinet__subtitle {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }
  &__card {
    display: flex;

    box-shadow: none;
    .cabinet__img {
      max-width: 117px;
      picture,
      img {
        max-width: 100%;
      }
    }
  }
  &__notification {
    color: #e40000;
    font-size: 20px;
    font-weight: 600;
    font-family: $mainHeadingFont;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
    .cabinet__price {
      color: $mainCompColor;
      font-size: 16px;
      width: 50%;
    }
    .cabinet__gr {
      white-space: nowrap;
      width: 50%;
      text-align: right;
    }
    .card__additional {
      display: flex;
      // flex-direction: column;
      color: #000;
      .card__item {
        width: 50%;
        white-space: nowrap;
      }
    }
  }
  &__head {
    margin-bottom: 25px;
    .cabinet__button {
      cursor: pointer;
      background: transparent;
      &:hover {
        background: transparent;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    background: $mainCompColor;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    color: $mainWhtColor;

    transition: all 0.4s ease;
    &:hover {
      background: darken($mainCompColor, 10%);
    }
  }
  &__rewrite {
    max-width: 32px;
    background: transparent;
    margin-right: 19px;
    &:last-child {
      margin-right: 0;
    }
  }
  .card__btns {
    input {
      padding-left: 20px;
      max-width: 60px;
      width: inherit;

      font-weight: 500;
      font-size: 16px;
    }
  }
  &__notify {
    position: relative;
    svg,
    img {
      max-width: 100%;
    }
    &:hover {
      .cabinet__info-window {
        opacity: 1;
        visibility: visible;
      }
    }
    .cabinet__info-window {
      width: 300px;
      padding: 20px 21px;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      left: 40px;
      top: -50%;
      z-index: 10;

      background: #f4f4f4;
      font-size: 19px;
      line-height: 1.2;
      text-align: center;

      transition: all 0.4s ease;
    }
  }
  &__btns {
    gap: 8px;
  }
  &__btn {
    padding: 10px 33px;
    text-align: center;

    color: #fff;
    font-size: 18px;

    background: $mainCompColor;

    transition: all 0.4s ease;
    &:hover {
      background: darken($mainCompColor, 10%);
    }
    &--gray {
      background-color: #f5f5f5;
      color: #000;
      &:hover {
        background: darken(#f5f5f5, 10%);
      }
    }
  }
  &__form {
    form {
      width: 100%;
      fieldset {
        &:last-child {
          flex-direction: column;
        }
      }
    }
    fieldset {
      padding-left: 20px;
      margin-bottom: 31px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;

      border-left: 2px solid $mainCompColor;
      &:last-child {
        margin-bottom: 0;
        label {
          width: 100%;
        }
      }
    }
    label {
      width: 45%;
      p {
        padding-left: 10px;
        font-size: 15px;
        color: #939393;
      }
    }
    label > div {
      display: flex;
      align-items: center;
      svg,
      img {
        margin-left: 6px;
      }
    }
    .cabinet__notify {
      max-width: 14px;
    }
  }
  &__label {
    select,
    input {
      padding: 8px;
      margin-top: 5px;
      width: 100%;
      display: block;

      color: #565656;
      font-size: 18px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: linear-gradient(
          45deg,
          transparent 50%,
          $mainCompColor 50%
        ),
        linear-gradient(135deg, $mainCompColor 50%, transparent 50%);
      background-position: calc(100% - 20px) calc(1em - 1px),
        calc(100% - 15px) calc(1em - 1px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
    }
  }
  &__password {
    position: relative;
    img,
    svg {
      position: absolute;
      right: 8px;
      top: 16px;
      display: none;
    }
  }
  .cabinet__main--profile {
    .cabinet__btns {
      display: none;
    }
    &._redacting {
      .cabinet__password {
        img,
        svg {
          display: block;
        }
      }
      .register__input {
        background-color: #f5f5f5;
      }
      .cabinet__input {
        background-color: #f5f5f5;
      }
      .cabinet__btns {
        display: flex;
      }
      select {
        &:focus {
          background-image: linear-gradient(
              45deg,
              $mainCompColor 50%,
              transparent 50%
            ),
            linear-gradient(135deg, transparent 50%, $mainCompColor 50%);
          background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
          background-size: 5px 5px, 5px 5px, 1px 1.5em;
          background-repeat: no-repeat;
        }
        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }
      }
    }
  }
  .register__input {
    border: none;
  }
  .order {
    margin-top: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .cabinet {
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__aside {
      margin-bottom: 50px;
      width: 100%;
    }
    &__main {
      width: 100%;
      margin-bottom: 50px;
      .cabinet__main {
        width: 100%;
      }
    }
    &__progress {
      max-width: 790px;
      width: 100%;
    }
    &__repeat {
      width: 100%;
      &::before {
        display: none;
      }
    }
    &__product {
      width: 50%;
    }
  }
}
@media (max-width: 990px) {
  .cabinet {
    &__cards {
      .cabinet__card {
        margin-bottom: 20px;
      }
    }
    &__notify {
      .cabinet__info-window {
        left: unset;
        right: 0;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 640px) {
  .cabinet {
    &__head {
      &--personal {
        flex-direction: column;
        align-items: flex-start;
        .cabinet__head--inner {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .cabinet {
    &__text {
      flex-direction: column;
      margin-bottom: 20px;
      .cabinet__desc {
        margin-bottom: 10px;
      }
    }
    &__form {
      .cabinet__label {
        width: 100%;
      }
      fieldset {
        padding-left: 10px;
        flex-wrap: wrap;
        input,
        select {
          width: 100%;
        }
      }
    }
    &__head {
      .title {
        margin-bottom: 20px;
      }
    }
    &__product {
      width: 100%;
    }
    &__desc {
      margin-bottom: 10px;
    }
    &__progress {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 400px) {
  .cabinet {
    &__order {
      padding-right: 35px;
    }
    &__main.cabinet__main--fullsize {
      .cabinet__cards {
        .cabinet__card {
          min-width: 280px;
        }
      }
    }
    .card {
      .cabinet__img {
        max-width: 90px;
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 380px) {
  .cabinet {
    &__title {
      font-size: 26px;
    }
    &__desc {
      strong {
        margin-left: 5px;
      }
    }
  }
}
