.card {
  position: relative;
  max-width: 305px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  gap: 12px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba($mainBlckColor, 0.25);
  &--big {
    max-width: 330px;
    min-width: 330px;
    box-shadow: 0 0 4px rgba($mainBlckColor, 0.25);
    .card__img {
      max-width: 160px;
      width: auto;
      max-height: 160px;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin: 16px auto;
    }
    .card__button {
      display: block;
      font-size: 20px;
      padding: 20px 0;
      font-weight: 700;
    }
    .card__title {
      margin-bottom: 20px;
      font-size: 16px;
    }
    .card__like {
      position: absolute;
      top: 8px;
      right: 36px;
    }
    .card__price {
      position: static;
      padding: 0 15px;
      margin-bottom: 15px;
    }
    .card__pricing {
      white-space: nowrap;
      font-weight: 700;
      color: $mainCompColor;
      word-wrap: unset;
      &--old {
        position: relative;
        top: 3px;
        color: #a5a5a5;
        font-size: 14px;
      }
      &--red {
        color: #e40000;
      }
    }
    .card__gr {
      margin-top: 16px;
      font-size: 14px;
    }
    .card__amount {
      font-size: 16px;
    }
  }
  &__outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
  }
  &__img {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 0;
    margin: 12px auto;
    & > img {
      margin: 0 auto;
      height: 100%;
      max-height: 148px;
      width: auto;
      object-fit: cover;
      &:nth-child(2) {
        position: absolute;
        left: 50%;
        top: 0;
        visibility: hidden;
        opacity: 0;

        transform: translateX(-50%);
      }
    }
    picture {
      margin: 0 auto;
      img {
        margin: 0 auto;
        height: 100%;
        max-height: 148px;
        width: auto;
        object-fit: cover;
      }
      &:nth-child(2) {
        margin: 0;
        img {
          margin: 0 auto;
          position: absolute;
          left: 50%;
          top: 0;
          visibility: hidden;
          opacity: 0;

          transform: translateX(-50%);
        }
      }
    }
    &--toggle {
      &:hover {
        & > img {
          opacity: 0;
          &:nth-child(2) {
            opacity: 1;
            pointer-events: none;
            visibility: visible;
          }
        }
        picture {
          &:nth-child(1) {
            img {
              opacity: 0;
            }
          }
          &:nth-child(2) {
            img {
              pointer-events: none;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
  &__text {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  &__title {
    padding: 0 15px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.16;
    color: $mainBlckColor;
  }
  &__price {
    padding: 0 11px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-bottom: 14px;
  }
  &__pricing {
    font-size: 16px;
    font-weight: 700;
    color: $mainCompColor;
    &--red {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      color: #e40000;
    }
    &--old {
      position: relative;
      top: 0px;
      font-size: 15px;
      color: #979797;
      font-weight: 700;
    }
  }
  &__gr {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    order: 1;
  }
  &__like {
    position: absolute;
    top: 8px;
    right: 36px;
    z-index: 10;
    background: transparent;
    svg {
      path {
        fill: none;
        stroke: none;
        &:first-child {
          fill: $mainCompColor;
          stroke: $mainCompColor;
        }
      }
      rect {
        fill: none;
      }
    }
    &._liked {
      svg {
        fill: none;
        path {
          fill: $mainCompColor;
          stroke: $mainCompColor;
          &:first-child {
            fill: $mainCompColor;
            stroke: $mainCompColor;
          }
        }
        rect {
          fill: $mainCompColor;
        }
      }
    }
  }
  &__notify.notify {
    position: absolute;
    top: 0;
    right: calc(100% + 5px);
    width: 180px;
    padding: 10px;
    background: #eee;
    font-size: 14px;
    .link {
      color: $mainCompColor;
      text-decoration: underline;
    }
    &._hidden {
      display: none;
    }
  }
  &__amount {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      padding-left: 5px;
      min-width: 0;
      max-width: 47px;
      font-size: 18px;
      text-align: center;
      font-weight: 600;
    }
  }
  &__btns {
    max-width: 93px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 22px;
      font-weight: 700;
      color: rgba($mainBlckColor, 0.9);
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    &[disabled] {
      pointer-events: none;
      svg {
        path {
          stroke: #979797;
        }
      }
    }
  }
  &__additional {
    padding: 12px 10px;
    font-weight: 500;
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 12px;
  }
  &__item {
    width: 50%;
    &:nth-child(2n) {
      text-align: right;
    }
    span {
      display: inline-block;
      margin-left: 12px;
      color: #999;
    }
  }
  &__button {
    margin-top: 16px;
    width: 100%;
    padding: 16px 0;
    background: $mainCompColor;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    color: $mainWhtColor;
    transition: background-color 0.4s ease;
    &:hover {
      background-color: darken($mainCompColor, 5%);
    }
    &[disabled] {
      background: #b3b3b3;
      pointer-events: none;
    }
  }
  .zdorovo_card {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
