.catalog {
  padding-top: 89px;
  padding-bottom: 216px;

  transition: transform 0.4s ease;
  &__sort {
    width: 100%;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
    &::-webkit-scrollbar {
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background: darken($mainWhtColor, 10%);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $mainCompColor;
    }
  }
  &__link {
    margin-right: 15px;
    white-space: nowrap;
    color: $mainBlckColor;
    font-size: 17px;
    padding: 5px;
    &:last-child {
      margin-right: 0;
    }
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -10px;
      left: 0;
      opacity: 0;
      background: $mainCompColor;

      transform: scale(0);
      transition: all 0.4s ease;
    }
    &._active {
      position: relative;
      font-weight: 500;
      &::after {
        opacity: 1;

        transform: scale(1);
      }
    }
  }
  &__content {
    display: flex;
    padding-top: 17px;
  }
  &__main {
    &--empty {
      .catalog__cont {
        display: flex;
      }
      .catalog__title {
        margin-bottom: 90px;
        font-family: $mainHeadingFont;
        font-size: 30px;
        font-weight: 700;
      }
      .catalog__subtitle {
        margin-bottom: 26px;

        font-size: 25px;
        font-weight: 500;
        font-family: $mainHeadingFont;
      }
      .catalog__text {
        width: 60%;
      }
      .catalog__image {
        width: 40%;
        margin-right: -60px;
        img {
          width: 100%;
          max-width: 329px;
        }
      }
      .catalog__block {
        display: flex;
        justify-content: space-between;
      }
      .catalog__soc {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-top: 135px;
        svg {
          width: 45px;
        }
        &--blck {
          margin-bottom: 39px;
          max-width: 240px;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
      .catalog__mail {
        margin-bottom: 39px;
        font-size: 22px;
        letter-spacing: 4%;
        font-weight: 500;
        color: $mainBlckColor;
        font-family: $mainHeadingFont;
        text-decoration: underline;
      }
      .catalog__phones {
        display: flex;
        flex-direction: column;
      }
      .catalog__phone {
        font-size: 20px;
        font-weight: 600;
        color: $mainBlckColor;
      }
      .catalog__arrow {
        margin-right: 15px;
      }
    }
  }
  &__marks {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  &__mark {
    white-space: nowrap;
    display: inline-block;
    padding: 17px 11px;

    border: 1px solid $mainCompColor;
    border-radius: 4px;

    font-family: $mainHeadingFont;
    font-size: 18px;
    color: $mainBlckColor;
  }
  .filter {
    width: 268px;
    margin-right: 13px;
  }
  .card__outer {
    gap: 0;
    justify-content: unset;
    margin: 0 -5px;
    margin-bottom: 55px;
    .card {
      margin: 5px;
    }
  }
}

@media (max-width: 840px) {
  .catalog {
    &__content {
      flex-direction: column;
    }
    .filter {
      width: 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 720px) {
  .catalog {
    padding-top: 110px;
    padding-bottom: 50px;
    &__sort {
      padding: 16px 0;
      &::-webkit-scrollbar {
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        background: darken($mainWhtColor, 10%);
      }
      &::-webkit-scrollbar-thumb {
        background-color: $mainCompColor;
      }
    }
    .card__outer {
      justify-content: space-around;
    }
    &__link {
      &::after {
        bottom: -5px;
      }
    }
  }
}

@media (max-width: 640px) {
  .catalog {
    .filter {
      max-width: 284px;
    }
    &__marks {
      margin-top: 73px;
    }
    &__main {
      &--empty {
        margin-top: 60px;
        .catalog__cont {
          flex-direction: row;
        }
        .catalog__image {
          margin-right: 0;
          img {
            max-width: 280px;
            max-width: 100%;
          }
        }
        .catalog__title {
          margin-bottom: 30px;
        }
        .catalog__arrow {
          display: none;
        }
        .catalog__soc {
          margin-left: 0;
          padding-top: 0;
          &--blck {
            margin-bottom: 10px;
          }
        }
        .catalog__subtitle {
          font-size: 20px;
        }
        .catalog__mail {
          margin-bottom: 10px;

          font-size: 16px;
        }
        .catalog__phone {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .catalog {
    &__mark {
      font-size: 15px;
    }
    .card {
      min-width: 130px;
      max-width: none;
      width: 47%;
      &__img {
        picture {
          img {
            left: 50%;

            transform: translateX(-50%) scale(0.7);
          }
        }
      }
      &__title {
        margin-bottom: 10px;
        font-size: 12px;
      }
      &__pricing {
        font-size: 14px;
      }
      &__button {
        font-size: 14px;
      }
      &__gr {
        font-size: 12px;
      }
      &__amount {
        span,
        input {
          font-size: 12px;
        }
        button {
          width: 10px;
        }
      }
      &__btns {
        max-width: 70px;
      }
      &__like {
        svg {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
}

@media (max-width: 442px) {
  .catalog {
    .filter {
      left: -260px;
      max-width: 260px;
      min-width: 260px;
      &._active {
        left: 0;
      }
    }
    .card__outer {
      justify-content: center;
    }
    .catalog__cont {
      flex-direction: column;
      align-items: center;
    }
    .catalog__block {
      justify-content: center;
    }
    .catalog__image {
      max-width: 180px;
    }
    .card__outer .card {
      width: 50%;
      margin: 0;
    }
  }
}
