.error {
  padding-top: 130px;
  padding-bottom: 85px;

  transition: all 0.4s ease;
  &__image {
    margin: 0 auto;
    margin-left: 12px;
    margin-bottom: 70px;
    max-width: 1024px;
    img {
      max-width: 100%;
    }
  }
  &__blck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__button {
    min-width: 300px;
    padding: 22px 42px;
    text-align: center;
    white-space: nowrap;
    background: $mainCompColor;
    font-family: $mainHeadingFont;
    color: $mainWhtColor;
    font-size: 20px;
    font-weight: 600;
  }
  &__desc {
    max-width: 613px;
    font-size: 20px;
    line-height: 1.24;
    color: #171717;
  }
  &__soc {
    margin-right: 50px;
    max-width: 244px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      max-width: 32px;
      svg {
        max-width: 32px;
      }
    }
  }
}

@media (max-width: 720px) {
  .error {
    &__title {
      font-size: 32px;
    }
    &__desc {
      font-size: 16px;
    }
  }
}

@media (max-width: 640px) {
  .error {
    &__blck {
      flex-direction: column;
      justify-content: flex-start;
      align-items: unset;
    }
    &__soc {
      margin: 0;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__desc {
      margin-bottom: 20px;
    }
  }
}
