.filter {
  min-height: 320px;
  &__block {
    margin-bottom: -10px;
    &:last-child {
      margin-bottom: 0;
    }
    &._active {
      margin-bottom: 20px;
      .filter__list {
        opacity: 1;
        visibility: visible;
        height: auto;
        transform: scaleY(1);
      }
      .filter__trigger {
        color: #3e3e3e;
        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &::after {
          transform: translateY(-50%) rotate(225deg);
        }
      }
    }
    &--hits {
      a {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
  &__burger {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  &__block--hits {
    .filter__trigger {
      &::before {
        transform: translateY(-50%) rotate(45deg);
      }
      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
  &__trigger {
    position: relative;
    padding: 18px 23px 18px 18px;

    cursor: pointer;

    background: #f1f1f1;

    font-size: 16px;
    font-weight: 700;
    color: #7d7d7d;
    &::before,
    &::after {
      content: '';
      width: 11px;
      height: 1.2px;
      position: absolute;
      top: 50%;
      right: 23px;

      background: #2e3a59;

      transform: translateY(-50%);
      transform-origin: right;
      transition: transform 0.4s ease;
    }
    &::before {
      transform: translateY(-50%) rotate(45deg);
    }
    &::after {
      transform: translateY(-50%) rotate(135deg);
    }
  }
  &__list {
    padding: 0 15px 20px;
    opacity: 0;
    visibility: hidden;
    height: 0;

    background: #f1f1f1;

    transform-origin: top;
    transform: scaleY(0);
  }
  &__label {
    line-height: 1.5;
    font-size: 20px;
    white-space: nowrap;
    input {
      display: none;
    }
    span {
      position: relative;
      display: inline-block;
      margin-right: 5px;
      width: 14px;
      height: 14px;

      border: 1px solid $mainBlckColor;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 1px;

        background: $mainBlckColor;

        transform: translateY(-50%);
      }
    }
    input[type='checkbox']:checked + span {
      &::before {
        width: 11px;
        left: -2px;

        transform: translateY(-50%) rotate(60deg);
      }
      &::after {
        width: 8px;
        top: 7px;
        left: 5px;

        transform: translateY(-50%) rotate(-60deg);
      }
    }
    img {
      margin-top: 4px;
      max-height: 18px;
      max-width: 44px;
      margin-left: 9px;
    }
  }
  &__button {
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    font-family: $mainHeadingFont;
    background: $mainCompColor;
    color: #fff;

    transition: all 0.4s ease;
    &[disabled] {
      background: #b3b3b3;
      color: $mainWhtColor;
      &:hover {
        background: #b3b3b3;
        color: $mainWhtColor;
      }
    }
    &:hover {
      background: darken($mainCompColor, 10%);
      color: #eee;
    }
  }
  .prom__socials {
    max-width: 134px;
    margin: 0 auto;
  }
}

@media (max-width: 840px) {
  .filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__block {
      max-width: 300px;
      width: 100%;
    }
    &__trigger {
      width: 100%;
    }
    &__button {
      max-width: 300px;
      padding: 0;
      max-height: 53.6px;
      height: 53.6px;
    }
  }
}

@media (max-width: 640px) {
  .filter {
    max-width: 320px;
    left: -300px;
    &__body {
      background: #fff;
      max-width: 320px;
      padding-bottom: 30px;
      position: absolute;
      // overflow-x: visible;
      // overflow-y: scroll;
      flex-direction: column;
      z-index: 20;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    background: $mainWhtColor;

    transition: all 0.4s ease;
    &._active {
      left: 0;
    }
    &__burger {
      opacity: 1;
      visibility: visible;
      padding: 10px;
      width: 63.6px;
      height: 63.6px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 100;
      top: 0;
      right: -63.6px;

      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      background: $mainCompColor;
      img {
        display: block;
        max-width: 30px;
        max-height: 30px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 380px) {
  .filter {
    max-width: 280px;
    min-width: 280px;
    width: 280px;
    left: -285px;
    &__burger {
      right: -54px;
      max-width: 56px;
      max-height: 53.6px;
      img {
        max-width: 20px;
        max-height: 30px;
      }
    }
  }
}
