.footer {
  position: relative;
  padding: 81px 0 30px;
  background: $mainBlckColor;
  &__info {
    margin-bottom: 29px;
    gap: 10px;
    display: flex;
    justify-content: space-between;

    color: $mainWhtColor;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.16;
    a {
      color: inherit;
      font-size: inherit;
    }
  }
  &__address {
    max-width: 417px;
    width: 100%;
  }
  &__telephones {
    max-width: 376px;
    width: 100%;
    a {
      white-space: nowrap;
    }
  }
  &__logo {
    width: 99px;
    height: 99px;
  }
  &__navigation {
    margin: 0 auto 20px 226px;

    width: 70%;
    margin-bottom: 57px;
    display: flex;
    justify-content: space-around;
  }
  &__head {
    margin-bottom: 30px;

    font-size: 24px;
    color: $secCompColor;
  }
  &__soc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    a {
      height: 40px;
      width: 40px;
      svg {
        max-width: 40px;
        path {
          transition: all 0.4s ease;
        }
      }
    }
    .fb {
      &:hover {
        svg {
          path {
            fill: $facebook;
          }
        }
      }
    }
    .msg {
      &:hover {
        svg {
          path {
            fill: $messenger;
          }
        }
      }
    }
    .ig {
      &:hover {
        svg {
          path {
            fill: $instagram;
          }
        }
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;

    font-size: 18px;
    font-weight: 500;
    color: $mainWhtColor;
    a {
      color: inherit;
    }
  }
  &__rights {
    text-align: center;
    color: #818181;
    font-size: 15px;
  }
  &__button {
    padding: 16px 0;
    height: 50px;
    position: absolute;
    top: 0%;
    right: 95px;
    max-width: 150px;
    width: 100%;
    background: $mainWhtColor;

    transform: translateY(-50%);
    span {
      height: 0;
      width: 20px;
      position: absolute;
      top: 50%;
      left: 50%;

      background: $mainBlckColor;

      transform: translate(-50%, -50%);
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        top: 0;
        right: -7px;

        background: $mainBlckColor;
        transform: rotate(45deg);
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -7px;
        width: 20px;
        height: 2px;

        background: $mainBlckColor;
        transform: rotate(-45deg);
      }
    }
  }
}
@media (max-width: 1218px) {
  .footer {
    &__navigation {
      margin: 0 auto 20px;
      width: 100%;
    }
  }
}
@media (max-width: 560px) {
  .footer {
    &__info {
      flex-wrap: wrap;
    }
    &__address {
      width: 70%;
    }
    &__logo {
      margin-bottom: 20px;
    }
    &__telephones {
      max-width: none;
    }
    &__navigation {
      margin-top: -100px;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__soc {
      margin-bottom: 20px;
    }
    &__col {
      width: 50%;
      order: 2;
      &:last-child {
        max-width: 270px;
        margin-bottom: 30px;
        width: 100%;
        order: 1;
      }
    }
  }
}
@media (max-width: 480px) {
  .footer {
    &__col {
      &:last-child {
        max-width: 240px;
      }
    }
  }
}
@media (max-width: 440px) {
  .footer {
    &__info {
      gap: 25px;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }
    &__navigation {
      max-width: none;
      margin: 0;
      margin-bottom: 30px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 25px;
    }
    &__col {
      max-width: none;
      width: 100%;
      order: unset;
      &:last-child {
        margin: 0 auto;
        max-width: 280px;
      }
    }
    &__button {
      height: 40px;
      max-width: 100px;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}
