.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  background: rgba(#000, 0.8);
  &._opened {
    opacity: 1;
    visibility: visible;
  }
  &__body {
    display: flex;
    justify-content: center;
    padding: 35px 38px;
    background: #fff;
    max-width: 1029px;
    line-height: 1.4;
    font-size: 20px;
  }
  &__close {
    text-decoration: underline;
    color: #000;
  }
  &__cross {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
  }
  &__row {
    margin-top: 32px;

    text-align: right;
  }
  iframe {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .modal {
    &__body {
      width: 80%;
    }
  }
}
@media (max-width: 720px) {
  .modal {
    &__body {
      padding: 10px;
      font-size: 14px;
    }
    &__row {
      margin-top: 10px;
    }
  }
}
