.product {
  margin-top: 100px;

  transition: all 0.4s ease;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    a,
    span {
      width: 55%;
    }
  }
  &__back {
    font-family: $mainHeadingFont;
    padding-left: 20px;
    position: relative;
    font-size: 18px;
    color: $mainBlckColor;
    font-weight: 400;
    &::before,
    &::after {
      content: '';
      width: 12px;
      height: 1.5px;
      position: absolute;
      top: 0;
      left: 0;
      background: $mainCompColor;
    }
    &::before {
      top: 3px;
      transform: rotate(-45deg);
    }
    &::after {
      top: 11px;
      transform: rotate(45deg);
    }
    &:first-child {
      display: inline-block;
      width: auto;
    }
  }
  &__num {
    font-size: 18px;
    font-weight: 300;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &__gallery {
    max-width: 583px;
    width: 44%;
    display: flex;
  }
  &__col {
    overflow: hidden;
    max-width: 80px;
    max-height: 380px;
    overflow-y: auto;
    margin-right: 50px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: darken($mainWhtColor, 10%);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $mainCompColor;
    }
  }
  &__content {
    max-width: 312px;
    img {
      max-width: 100%;
      margin-top: 60px;
    }
  }
  &__row {
    cursor: pointer;
    margin-bottom: 20px;
    min-width: 80px;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      max-width: 100%;
    }
  }
  .card {
    margin-bottom: 90px;
    max-width: none;
    min-width: 0;
    width: 100%;
    box-shadow: none;
    flex-direction: row;
  }
  &__description {
    width: 50%;
  }
  &__title {
    max-width: 489px;
    margin-bottom: 18px;

    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
  }
  &__weight {
    margin-bottom: 29px;
    font-size: 20px;
  }
  &__pricing {
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    .card__like {
      position: static;
    }
    button {
      background: none;
      img {
        width: 38px;
      }
    }
  }
  &__prices {
    span {
      margin-right: 18px;
      font-weight: 700;
      font-size: 30px;
    }
    .product__price {
      &--old {
        margin-right: 0;

        color: #9b9b9b;
        text-decoration: line-through;
        font-weight: 500;
        font-size: 20px;
      }
      &--new {
        color: #e40000;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__cardPlusMinus {
    width: 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgba(#000, 0.5);
    border-radius: 5px;
    button,
    input {
      padding: 10px;
    }
    button {
      height: 100%;
      border-right: 1px solid rgba(#000, 0.5);
    }
    button:last-child {
      border-left: 1px solid rgba(#000, 0.5);
      border-right: 0;
    }
    input {
      max-width: 63px;
      font-size: 25px;
      font-weight: 500;
      color: rgba(#000, 0.8);
    }
  }
  &__button {
    max-width: 312px;
    width: 100%;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $mainCompColor;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: $mainWhtColor;

    transition: background, 0.4s ease;
    &:hover {
      background: darken($mainCompColor, 5%);
    }
  }
  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 20px;
    line-height: 1.13;
    font-weight: 300;
    strong {
      font-weight: 400;
    }
  }
  &__left {
    width: 43%;
    padding: 5px 0 5px 21px;

    border-left: 2px solid $mainCompColor;
  }
  &__socials {
    margin-top: 20px;
    max-width: 160px;
    display: flex;
    justify-content: space-between;
  }
  &__right {
    margin-right: 80px;
    width: 40%;

    transition: all 0.4s ease;
    p {
      margin-bottom: 25px;
    }
  }
  &__slide {
    max-height: 2000px;
    overflow: hidden;

    transition: max-height 0.4s ease;
    &._hidden {
      max-height: 100px;
    }
  }
  &__table {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    tr {
      th:first-child {
        text-align: left;
        border-right: 1px solid #d8d8d8;
      }
      th {
        border-right: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
        padding: 7px 10px;
        font-weight: 400;
        &.wght {
          border-bottom-width: 3px;
        }
        &.no-wght {
          border-bottom-width: 0;
        }
      }
      th:last-child {
        border-right: none;
        font-weight: 700;
      }
    }
  }
  &__code {
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 15px;
  }
  &__txt {
    font-size: 15px;
    p {
      margin-bottom: 5px;
      &.bldtxt {
        font-weight: 400;
      }
    }
  }
  &__btn {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    padding-right: 20px;

    text-align: center;
    font-size: 17px;
    font-family: $mainHeadingFont;
    background: transparent;
    &::before,
    &::after {
      content: '';
      width: 14px;
      height: 2px;
      position: absolute;
      top: 15px;
      right: 0;

      background: $mainCompColor;
      border-radius: 3px;

      transform-origin: right;
      transform: rotate(45deg);

      transition: all 0.4s ease;
    }
    &::before {
      transform-origin: left;
      transform: rotate(-45deg);
    }
    &::after {
      right: -5px;
    }
    &._hidden {
      &::before {
        top: 3px;
        transform: rotate(45deg);
      }
      &::after {
        top: 3px;
        transform: rotate(-45deg);
      }
    }
  }
  .catalog {
    &__sort {
      margin-bottom: 15px;
    }
    &__marks {
      margin-bottom: 28px;
      gap: 15px;
    }
    &__mark {
      padding: 8px 12px;
    }
  }
}
@media (max-width: 1024px) {
  .product {
    &__right {
      margin-right: 0;
    }
  }
}

@media (max-width: 990px) {
  .product {
    &__text {
      flex-wrap: wrap;
    }
    &__left {
      width: 100%;
      margin-bottom: 10px;
    }
    &__right {
      width: 100%;
    }
    &__table {
      margin: 0 auto;
    }
  }
}

@media (max-width: 840px) {
  .product {
    &__card {
      flex-wrap: wrap;
    }
    &__gallery {
      width: 100%;
    }
    &__description {
      width: 100%;
    }
    &__slide {
      overflow-x: scroll;
    }
    &__table {
      min-width: 500px;
    }
    .card {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 720px) {
  .product {
    .catalog__sort {
      padding-top: 40px;
    }
  }
}
@media (max-width: 560px) {
  .product {
    &__num {
      font-size: 16px;
    }
    &__button {
      max-width: none;
      width: 100%;
    }
  }
}
@media (max-width: 440px) {
  .product {
    &__gallery {
      flex-direction: column-reverse;
    }
    &__content {
      img {
        margin-top: 0;
      }
    }
    &__buttons {
      flex-wrap: wrap;
    }
    &__cardPlusMinus {
      margin-bottom: 10px;
      width: 100%;
    }
    &__col {
      margin-right: 0;
      max-width: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 0;
      &::-webkit-scrollbar {
        height: 4px;
      }
    }
    &__row {
      max-width: 80px;
      margin-bottom: 0;
    }
    .catalog__marks {
      margin-top: 10px;
    }
  }
}
