.propose {
  padding: 120px 0 136px;
  .container {
    padding: 0 20px;
  }
  &__title {
    margin-bottom: 80px;

    text-align: center;
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    min-width: 25%;

    text-align: center;
    font-family: $mainHeadingFont;
    font-size: 30px;
    font-weight: 500;
  }
  &__square {
    margin: 0 auto;
    width: 54px;
    height: 54px;
    padding: 6px;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid $mainCompColor;
    svg,
    img {
      max-width: 27px;
      width: 100%;
    }
  }
}
@media (max-width: 920px) {
  .propose {
    padding: 60px 0;
    &__title {
      margin-bottom: 30px;
    }
    &__item {
      font-size: 22px;
    }
    &__square {
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 720px) {
  .propose {
    &__blocks {
      flex-direction: column;
    }
    &__title {
      text-align: center;
    }
    &__square {
      margin: unset;
      margin-right: 10px;
    }
    &__item {
      max-width: 240px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      margin-bottom: 35px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 560px) {
  .propose {
    margin-top: 40px;
  }
}
