.roulette {
  margin-top: 110px;
  padding-bottom: 144px;

  transition: all 0.4s ease;
  &--mid {
    height: 268px;
    background: $mainCompColor;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
  &--bottom {
    margin-bottom: -120px;
    transform: translateY(-41px);
    &:last-child {
      transform: translateY(-50%);
      @media screen and (max-width: 1080px) {
        transform: translateY(-32%);
      }
      @media screen and (max-width: 768px) {
        transform: translateY(-16%);
        &.animate_on_press {
          padding-bottom: 0;
        }
      }
      .roulette__bottom {
        align-items: unset;
      }
    }
    &._hidden {
      display: none;
    }
  }
  &__title {
    margin-bottom: 12px;

    text-align: left;
  }
  &__subtitle {
    font-family: $mainHeadingFont;
    font-size: 16px;
    &:last-child {
      margin-left: 10px;
      font-size: 14px;
      text-decoration: underline;
    }
  }
  &__top {
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    padding: 28px 48px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 57px;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      width: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      background: rgba($mainCompColor, 0.09);

      transition: all 0.2s ease;
    }
    &:hover {
      &::before {
        left: calc(50% - 2px);
      }
    }
    &._animated {
      &::before {
        animation: animate_gray_rect 1s alternate infinite;
      }
      span {
        &:nth-child(1) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(to right, #fff, $mainCompColor);

          animation: animate_line_1 4s linear infinite;
        }
        &:nth-child(2) {
          position: absolute;
          top: 0;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(to bottom, #fff, $mainCompColor);

          animation: animate_line_2 4s linear infinite;
          animation-delay: 2s;
        }
        &:nth-child(3) {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(to left, #fff, $mainCompColor);

          animation: animate_line_3 4s linear infinite;
        }
        &:nth-child(4) {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(to top, #fff, $mainCompColor);

          animation: animate_line_4 4s linear infinite;
          animation-delay: 2s;
        }
      }
    }
    &--green {
      margin-bottom: 0;
      padding: 14px 44px;
      background: $mainCompColor;
      color: #fff;
      box-shadow: none;

      transition: all 0.4s ease;
      &::after,
      &::before {
        display: none;
      }
      &:hover {
        background: darken($mainCompColor, 10%);
      }
    }
  }
  &__date {
    margin-bottom: 15px;
    font-family: $mainHeadingFont;
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
    color: #000000;
  }
  &__note {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    &--gray {
      line-height: 16px;
      font-size: 14px;
      color: #818181;
    }
  }
  &__socials {
    &--mob {
      margin-top: 24px;
      display: none;
    }
    @media screen and (max-width: 768px) {
      display: none;
      &--mob {
        display: block;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__product {
    display: flex;
    align-items: center;
  }
  &__name {
    font-family: $mainHeadingFont;
    display: inline-block;
    margin-bottom: 70px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
  }
  &__prices {
    margin-bottom: 42px;
  }
  &__photo {
    @media screen and (max-width: 768px) {
      & > img,
      & > picture > img {
        max-width: 280px;
      }
    }
    img {
      max-width: 344px;
      width: 100%;
    }
  }
  &__link {
    margin-right: 20px;
    img {
      max-width: 30px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__description {
    padding-top: 64px;
    padding-left: 32px;
  }
  &__prom {
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: rgba(228, 0, 0, 0.9);
  }
  &__old {
    font-size: 22px;
    line-height: 26px;
    color: #979797;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__plusMinus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    span {
      text-align: center;
      display: block;
      width: 113px;
      font-weight: 500;
      font-size: 25px;
      line-height: 29px;
      color: #000000;
    }
  }
  &__desc {
    max-width: 340px;
    margin-bottom: 60px;
    padding-top: 70px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    strong {
      display: block;
    }
  }
  &__pricing {
    margin-bottom: 15px;
    padding-top: 56px;
    @media screen and (max-width: 768px) {
      padding-top: 16px;
    }
    p {
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.animate_on_press:not(._hidden) {
  animation: pulse 1.5s ease-out;
  @media screen and (max-width: 1080px) {
    animation: pulse_tablet 1.5s ease-out;
  }
  @media screen and (max-width: 768px) {
    animation: pulse_mobile 1.5s ease-out;
  }
}

@keyframes pulse {
  0% {
    transform: scale(2) translateX(0);
    opacity: 0;
  }
  90% {
    opacity: 0.3;
    transform: scale(1) translateY(-50%);
  }
  95% {
    opacity: 1;
    transform: scale(1.01) translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }
}

@keyframes pulse_tablet {
  0% {
    transform: scale(2) translateX(0);
    opacity: 0;
  }
  90% {
    opacity: 0.3;
    transform: scale(1) translateY(-32%);
  }
  95% {
    opacity: 1;
    transform: scale(1.01) translateY(-32%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-32%);
  }
}

@keyframes pulse_mobile {
  0% {
    transform: scale(2) translateX(0);
    opacity: 0;
  }
  90% {
    opacity: 0.3;
    transform: scale(1) translateY(-16%);
  }
  95% {
    opacity: 1;
    transform: scale(1.01) translateY(-16%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-16%);
  }
}

@media (max-width: 1080px) {
  .roulette {
    &--mid {
      .roulette__top {
        align-items: center;
        padding: 30px 0;
      }
    }
    &__content {
      flex-direction: column;
    }
    &__desc {
      padding-top: 20px;
      color: #000;
      margin-bottom: 20px;
    }
    &__name {
      color: #000;
    }
  }
}

@media (max-width: 860px) {
  .roulette {
    &__top {
      flex-direction: column;
      .roulette__subtitle {
        margin-bottom: 15px;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .roulette {
    margin-top: 140px;
    padding-bottom: 120px;
    &__title {
      margin-top: 16px;
      margin-bottom: 32px;
    }
    &__product {
      flex-direction: column;
      margin-bottom: 24px;
    }
    &__name {
      margin-bottom: 20px;
    }
    &__text {
      text-align: center;
      margin-top: 24px;
    }
  }
}

@media (max-width: 480px) {
  .roulette {
    &--bottom {
      transform: translateY(-28px);
    }
    &__button {
      padding: 16px 8px;
    }
  }
}
@media (max-width: 404px) {
  .roulette {
    &--bottom {
      transform: translateY(-38px);
    }
  }
}
@media (max-width: 440px) {
  .roulette {
    &__buttons {
      flex-direction: column;
      .roulette__button {
        width: 100%;
      }
    }
    &__plusMinus {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

@keyframes animate_line_1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate_line_2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate_line_3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate_line_4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes animate_gray_rect {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
