.sertificate {
  margin-top: 130px;

  transition: all 0.4s ease;
  &__title {
    margin-bottom: 41px;

    text-align: left;
  }
  &__desc {
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 16px;
    font-family: $mainHeadingFont;
  }
  &__inner {
    padding-bottom: 70px;
  }
  &__back {
    margin-bottom: 40px;
    font-family: $mainHeadingFont;
    padding-left: 20px;
    position: relative;
    font-size: 18px;
    color: $mainBlckColor;
    font-weight: 400;
    &::before,
    &::after {
      content: '';
      width: 12px;
      height: 1.5px;
      position: absolute;
      top: 0;
      left: 0;
      background: $mainCompColor;
    }
    &::before {
      top: 3px;
      transform: rotate(-45deg);
    }
    &::after {
      top: 11px;
      transform: rotate(45deg);
    }
    &:first-child {
      display: inline-block;
      width: auto;
    }
  }
  &__subtitle {
    margin-bottom: 12px;

    font-size: 20px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price {
    padding: 10px 20px;
    display: block;

    border: 1px solid #ebebeb;
    &--hidden {
      display: none;
      & + p {
        padding: 11px 20px 10px;
        cursor: pointer;
        color: #878787;

        border: 1px solid #ebebeb;
      }
      &:checked + p {
        border-color: $mainCompColor;
      }
    }
    &--label {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    &:focus {
      border-color: $mainCompColor;
    }
    &::placeholder {
      color: #878787;
      font-size: 16px;
    }
  }
  &__pricing {
    display: flex;
    flex-wrap: wrap;
    .sertificate__price {
      margin: 0;
    }
    p {
      padding-bottom: 12px;
    }
  }
  &__notice {
    margin-top: 4px;

    text-align: right;
    text-decoration: underline;

    color: #6f6f6f;
  }
  &__notate {
    text-decoration: underline;

    color: #6f6f6f;
    font-size: 18px;
  }
  &__block {
    margin-bottom: 16px;
    .sertificate__blck {
      margin: 0 -3px;
      display: flex;
      flex-wrap: wrap;
      input {
        width: 49%;
      }
      textarea {
        height: 110px;
        width: 100%;
        &:focus {
          &::placeholder {
            color: transparent;
          }
        }
        &::placeholder {
          color: #878787;
          font-size: 16px;
        }
      }
    }
    input,
    textarea,
    button {
      margin: 3px;
    }
  }
  &__checkbox {
    margin: 13px 0;
    label {
      position: relative;
      padding-left: 28px;
      display: inline-block;

      color: #6f6f6f;
      &:before,
      &:after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 0;
        display: block;

        border: 1px solid #373737;

        transform: translateY(-50%);
      }
      &:after {
        border: none;
      }
    }
    input:checked + label {
      &:after {
        content: '';
        border: none;
        width: 12px;
        background: url('../img/icons/union.svg') 2px 3px no-repeat;
      }
    }
    input {
      display: none;
    }
  }
  &__form {
    margin-right: 25px;
  }
  &__button {
    padding: 10px 20px;
    display: block;
    width: 49%;

    font-size: 18px;
    color: #fff;
    background: $mainCompColor;
    text-align: center;

    transition: all 0.4s ease;
    &:hover {
      background: darken($mainCompColor, 10%);
    }
  }
  &__sertificate {
    padding: 20px 16px 11px;
    margin-top: -40px;
    margin-bottom: 14px;
    position: relative;

    color: #fff;
    background: $mainCompColor;
    font-family: $mainHeadingFont;
    &::after {
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: 50px;
      left: 0;

      background: #fff;
    }
    .sertificate__price {
      border: none;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    .sertificate__text {
      margin-bottom: 29px;
    }
    .sertificate__left {
      text-align: left;
    }
    .sertificate__right {
      text-align: right;
    }
    .sertificate__left,
    .sertificate__right {
      max-width: 120px;

      font-size: 13px;
      line-height: 1.4;
    }
  }
  &__logo {
    max-width: 54px;
    img {
      max-width: 100%;
    }
  }
  &__heading {
    margin-bottom: 22px;

    font-size: 20px;
    font-weight: 600;
  }
  &__name {
    font-size: 15px;
    font-weight: 600;
  }
  &__bottom {
    margin-top: 84px;
    text-align: left;
    display: flex;
    align-items: flex-end;

    color: #000;
    font-size: 15px;
    font-weight: 600;
    strong {
      font-size: 24px;
      line-height: 1;
    }
  }
}

@media (max-width: 820px) {
  .sertificate {
    &__back {
      margin-bottom: 15px;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__content {
      flex-direction: column;
      margin-bottom: 70px;
    }
    &__form {
      margin-right: 0;
      margin-bottom: 25px;
    }
    &__inner {
      padding-bottom: 0;
    }
    &__Sertificate {
      margin-top: 0;
    }
  }
}

@media (max-width: 637px) {
  .sertificate {
    &__price {
      &--label {
        &:last-child {
          margin-top: 10px;
        }
      }
    }
    &__form {
      .sertificate__blck input,
      .sertificate__blck button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 449px) {
  .sertificate {
    &__price {
      &--label {
        &:nth-child(4) {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 339.5px) {
  .sertificate {
    &__price {
      &--label {
        &:nth-child(3) {
          margin-top: 10px;
        }
      }
    }
  }
}
