.socials {
  .container {
    padding: 0 20px;
  }
  &__desc {
    padding-left: 104px;
    margin-bottom: 22px;
    max-width: 1010px;

    font-size: 16px;
    line-height: 1.2;
    font-family: $mainHeadingFont;
  }
  &__block {
    display: flex;
  }
  &__left {
    width: 81%;
    padding: 45px 104px 54px;

    background: $mainCompColor;
    box-shadow: inset 0 0 5px rgba(#000, 0.25);
    font-family: $mainHeadingFont;
    a {
      color: $mainWhtColor;
      font-size: 23px;
      font-weight: 500;
      width: fit-content;
    }
  }
  &__mail {
    margin: 0 auto;
    display: block;
    margin-bottom: 62px;

    text-decoration: underline;
  }
  &__phones {
    line-height: 1.4;
    a {
      margin: 0 auto;
      display: block;
    }
  }
  &__right {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
      max-width: 32px;
      display: block;

      transition: all 0.4s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    svg {
      max-width: 32px;
      height: 53px;
      width: 100%;
    }
  }
}
@media (max-width: 620px) {
  .socials {
    &__desc {
      padding-left: 0;
    }
    &__block {
      flex-direction: column-reverse;
    }
    &__right {
      flex-direction: row;
      margin-bottom: 10px;
    }
    &__left {
      padding: 20px 0 50px;
      width: 100%;
      text-align: center;
      a {
        margin: 0 auto;
      }
      .socials__mail {
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 560px) {
  .socials {
    &__desc {
      margin-bottom: 30px;
    }
    &__left {
      a {
        font-size: 18px;
      }
    }
    &__right {
      margin-bottom: 30px;
    }
  }
}
