.underheader {
    width: 100%;
    opacity: 1;
    background: $mainWhtColor;

    transform-origin: top;
    transition: all 0.4s ease;
    &._hidden {
        transform: scaleY(0);
    }
    &__inner {
        padding: 6px 0;
        display: flex;
        justify-content: space-around;
    }
    &__link {
        width: 47%;
        display: flex;
        align-items: center;
        justify-content: center;

        color: $thirdCompColor;
        font-size: 14px;
        font-weight: 500;
    }
    &__button {
        width: 8px;
        padding: 0 5px;
        background: transparent;
    }
}

@media (max-width: 720px) {
    .underheader {
        &__inner {
            position: relative;
            flex-direction: column;
            gap: 10px;
        }
        &__link {
            width: auto;
            margin: 0 auto;
        }
        &__button {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
@media (max-width: 440px) {
    .underheader {
        &__link {
            font-size: 14px;
        }
        &__button {
            top: 0;
            right: 0;
        }
    }
}
